
<head>
  <meta charset="utf-8">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.marketing_desc }}" />
  <meta property="og:image" content="https://media.licdn.com/media/gcrc/dms/image/C560BAQHsUvSoOK076w/company-background_10000/0?e=1523617200&v=beta&t=QWtQzzytDFVoVK3iOO4ieOZ4zBaSrv5KRarIsCyJclY" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{{ site.title }}</title>

  <link rel="shortcut icon" href="favicon.ico">
  <meta name="apple-itunes-app" content="app-id={{ site.app.ios_id }},affiliate-data={{ site.itunes_affiliate_token }}">

  <base target="_blank">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="themes/default/styles.css">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
